{% macro closeButton() %}
  <div class="js-close-menu" aria-role="button" aria-label="Close">
    <i
      class="fal fa-fw fa-times gray mr3 pointer hover-black"
      style="font-size: 20px;"
    ></i>
  </div>
{% endmacro %}
