
.bg-feynman {
  background-image: url("../images/background.png");
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-top-center {
  background-position: top center;
}

.bg-60 {
  background-size: 60rem;
}

.bg-y--6 {
  background-position-y: -6rem;
}
