.f-black {         fill: $black; }
.f-near-black {    fill: $near-black; }
.f-dark-gray {     fill: $dark-gray; }
.f-mid-gray {      fill: $mid-gray; }
.f-gray {          fill: $gray; }
.f-silver  {       fill: $silver; }
.f-light-silver {  fill: $light-silver; }
.f-moon-gray {     fill: $moon-gray; }
.f-light-gray {    fill: $light-gray; }
.f-near-white {    fill: $near-white; }
.f-white {         fill: $white; }

.f-dark-red { fill: $dark-red; }
.f-red { fill: $red; }
.f-light-red { fill: $light-red; }
.f-orange { fill: $orange; }
.f-gold { fill: $gold; }
.f-yellow { fill: $yellow; }
.f-light-yellow { fill: $light-yellow; }
.f-purple { fill: $purple; }
.f-light-purple { fill: $light-purple; }
.f-dark-pink { fill: $dark-pink; }
.f-hot-pink { fill: $hot-pink; }
.f-pink { fill: $pink; }
.f-light-pink { fill: $light-pink; }
.f-dark-green { fill: $dark-green; }
.f-green { fill: $green; }
.f-light-green { fill: $light-green; }
.f-navy { fill: $navy; }
.f-dark-blue { fill: $dark-blue; }
.f-blue { fill: $blue; }
.f-light-blue { fill: $light-blue; }
.f-lightest-blue { fill: $lightest-blue; }
.f-washed-blue { fill: $washed-blue; }
.f-washed-green { fill: $washed-green; }
.f-washed-yellow { fill: $washed-yellow; }
.f-washed-red { fill: $washed-red; }
.f-fill-inherit { fill: inherit; }
