{% macro closeButton() %}
  <div class="js-close-menu">
    <i
      class="fal fa-fw fa-times gray mr3 pointer hover-black"
      aria-hidden="true"
      style="font-size: 20px;"
    ></i>
  </div>
{% endmacro closeButton %}
