{% macro homeButton() %}
  <a
    href="/"
    class="js-home-button flex justify-center no-underline-hover gray hover-black"
    aria-role="button"
    aria-label="Go to home page"
  >
    <i
      class="fal fa-fw fa-home mr3"
      style="font-size: 20px;"
    ></i>
  </a>
{% endmacro homeButton %}
