{% macro menuButton(args) %}
  {% set classes = args.classes|default('') %}
  {% set hamburgerType = args.hamburgerType|default('hamburger--squeeze') %}
  {% set jsClass = args.jsClass|default('') %}
  {% set text = args.text|default('Menu') %}
  {% set textColor = args.textColor|default('black') %}

  <button
    class="{{ jsClass }} {{ textColor }} hamburger {{ hamburgerType }}"
    type="button"
  >
    <span class="hamburger-box v-mid">
      <span class="hamburger-inner"></span>
    </span>
    <span class="v-mid ml1">
      {{ text }}
    </span>
  </button>
{% endmacro menuButton %}
