{% macro menuButton() %}
  <div class="js-open-menu" aria-role="button" aria-label="Open navigation">
    <i
      class="fal fa-fw fa-bars gray mr3 pointer hover-black"
      aria-hidden="true"
      style="font-size: 20px;"
    ></i>
  </div>
{% endmacro %}
