{% set sponsors = page.find('/sponsors') %}

<section class="w-100 bg-lightest-blue mid-gray tc pa5">
  <h5 class="ma0 fw4">
    {{ sponsors.title }}
  </h5>

  <ul class="list ma0 pl0 tc flex flex-row flex-wrap items-center justify-center sponsor-logos">
    {% for sponsor in sponsors.header.sponsors %}
      <li class="db dib-ns mt4 mh4 f-mid-gray">
        <svg>
          <title>{{ sponsor.title }}</title>
          {{ getfilecontents(sponsor.logo|first.path) }}
        </svg>
      </li>
    {% endfor %}
  </ul>
</section>
