<footer class="flex-ns flex-wrap white">

  {% include 'partials/sponsors.html.twig' %}

  <section class="bg-dark-blue w-100 w-40-ns pa3 pa5-ns flex flex-column justify-end">
    <img class="mw4 mb5 ba b--white dib" src="{{ url('theme://images/logo-oxford.png') }}" alt="Oxford University logo" />
    <div class="mw5">
      The British Physics Olympiad is hosted by the
      <a class="link white underline-hover fw4" href="https://www.ox.ac.uk">University of Oxford</a>
      and supported by
      <a class="link white underline-hover fw4" href="http://www.ogdentrust.com/">The Ogden Trust</a>.
    </div>
  </section>

  <section class="bg-navy w-100 w-60-ns tr-ns pa3 pa5-ns">
    <h4 class="f3 fw2 mt0">
      {% include 'svgs/bpho-logo.svg.twig' with { classes: 'pr3 h3' } %}
      British Physics Olympiad
    </h4>
    <address class="fs-normal">
      <div>
        British Physics Olympiad Administrator<br>
        Clarendon Lab, University of Oxford,<br>
        Parks Road, Oxford, OX1 3PU
      </div>
      <div class="mt4">
        tel: <a class="link white underline-hover fw4" href="tel:+441865272884">01865 272884</a><br>
        email: <a class="link white underline-hover fw4" href="mailto:BPhO@physics.ox.ac.uk">BPhO@physics.ox.ac.uk</a>
      </div>
    </address>
    <div class="mt4">
      © 2017 British Physics Olympiad
    </div>
    <div class="mt4">
      Connect
      <a href="https://www.facebook.com/The.BPhO/" class="no-underline-hover white hover-gold f3 ml5 v-mid">
        <i class="fab fa-facebook" aria-hidden="true"></i>
        <span class="clip">Facebook</span>
      </a>
      <a href="https://twitter.com/thebpho" class="no-underline-hover white hover-gold f3 ml5 v-mid">
        <i class="fab fa-twitter" aria-hidden="true"></i>
        <span class="clip">Twitter</span>
      </a>
    </div>
  </section>
</footer>
