{% set logoOptions = {
  classes: 'h2 pr3 dib',
  color: '#333'
} %}

<div class="fw4 flex items-center">
  {% include 'svgs/bpho-logo.svg.twig' with logoOptions %}
  <span class="dib mr4">
    BPhO
  </span>
  {% include 'svgs/baao-logo.svg.twig' with logoOptions %}
  <span class="dib">
    BAAO
  </span>
</div>
