<nav>
  <h2>
    The British Physics Olympiad
  </h2>
  <div>
    <section>
      <h3>
        Competitions
      </h3>
      <ul>
        <li>Competition</li>
      </ul>
    </section>
    <section>
      Past Papers
    </section>
    <section>
      FAQs
    </section>
  </div>
</nav>
