{% macro topLevelLink(url, title) %}
  <a
    class="white"
    href="{{ url }}"
  >
    {{ title }}
  </a>
{% endmacro topLevelLink %}

{% macro loop(page) %}
  {% for p in page.children.visible %}
    <li>
      {{ _self.topLevelLink(p.url, p.menu) }}
    </li>
  {% endfor %}
{% endmacro %}

<nav class="js-nav js-dn bg-navy white ph4 pv4 w-100">
  <button
    class="js-close-menu white hamburger hamburger--squeeze"
    type="button"
  >
    <span class="hamburger-box v-mid">
      <span class="hamburger-inner"></span>
    </span>
    <span class="v-mid ml1">
      Menu
    </span>
  </button>
  <ul class="list pl0">
    {{ _self.loop(pages) }}
  </ul>
</nav>
