{% set logos = {
  'svgs/sponsors/cam.svg.twig': 'h3',
  'svgs/sponsors/cup.svg.twig': 'h3',
  'svgs/sponsors/iet.svg.twig': 'h3',
  'svgs/sponsors/npl.svg.twig': 'h3',
  'svgs/sponsors/pup.svg.twig': 'h3',
  'svgs/sponsors/ras.svg.twig': 'h3',
  'svgs/sponsors/springer.svg.twig': 'h3',
  'svgs/sponsors/oup.svg.twig': 'f-mid-gray h3',
  'svgs/sponsors/oxford.svg.twig': 'f-mid-gray h3',
  'svgs/sponsors/rollsroyce.svg.twig': 'f-mid-gray h3',
  'svgs/sponsors/texas-instruments.svg.twig': 'f-mid-gray h3',
} %}

<section class="w-100 bg-lightest-blue mid-gray tc pa5">
  <h5 class="ma0">Our Sponsors</h5>
  <ul class="list ma0 pl0 tc flex flex-row flex-wrap items-center justify-center">
    {% for logo, c in logos %}
      <li class="db dib-ns mt5 mh4">
        {% include logo with { classes: 'db ' ~ c  } %}
      </li>
    {% endfor %}
  </ul>
</section>
