{% extends 'partials/base.html.twig' %}

{% block main %}
  <main id="main" class="mw7 ph3 ph4-ns pv4 mb5 center">
    <article>
      {% block title %}
        <h1 class="lh-title tc mb6">
          {{ header.title }}
        </h1>
      {% endblock title %}

      {% block content %}
        {{ content }}
      {% endblock content %}

      {% block below_content %}
      {% endblock below_content %}
    </article>
  </main>
{% endblock main %}
