{% extends 'partials/base.html.twig' %}

{% block main %}
  <main id="main">
    {% for module in page.collection() %}
      {{ dump(module) }}
      <div id="{{ module.slug }}"></div>
      {{ module.content }}
    {% endfor %}
  </main>
{% endblock main %}
