{% extends 'default.html.twig' %}

{% block main %}

  {% set parent = page.parent %}
  {% set navItems = parent.collection() %}
  {% set modulesOptions = { 'items': '@self.modular' } %}
  {% set modules = page.collection(modulesOptions) %}

  <header class="bg-dark-gray pa4 pt5 flex justify-center bg-feynman bg-60 bg-y--6">
    <div>
      <h1 class="ma0 f3 fw2 white">
        {{ parent.title }}
      </h1>
      {% include 'past_papers/nav.html.twig' with { pages: navItems } %}
    </div>
  </header>

  <div class="bg-near-white">
    <article class="mw6 ph3 ph4-ns pv4 mh2 center">
      <h1 class="f3">
        {{ header.title }}
      </h1>

      {% for module in page.collection %}
        {{ module.content }}
      {% endfor %}
    </article>
  </div>

{% endblock main %}
