{% set quotes = { items: { '@page.children': '/quotes' } } %}
{% set quotesCollection = page.collection(quotes) %}
{% set quote = quotesCollection|randomize|first %}

<section class="mw7 ph3 ph4-ns pv5 center">
  <blockquote class="f3 mh0 quote">
    {{ quote.content }}
  </blockquote>
  <div class="tr f4">
    &ndash; {{ quote.header.source }}
  </div>
</section>
