<article class="{{ header.pt|default('pt5') }} mw7 ph3 ph4-ns pb5 center">
  {% if header.showTitle %}
    <h2 class="lh-title">
      {{ header.title }}
    </h2>
  {% endif %}
  <div class="modular-text">
    {{ content }}
  </div>
</article>
