<div class="vh-100 dt w-100 tc bg-dark-gray bg-feynman bg-center white cover relative js-top-hero">
  <div class="dtc v-mid pa2 js-dn">
    <div class="relative">
      <div class="center">
        <h1 class="fw1 mb4">
          <div class="f5 mb2">Welcome to the</div>
          <div class="flex align-center justify-center">
            {% include 'svgs/bpho-logo.svg.twig' with { classes: 'pr3 h2 h3-ns' } %}
            <span class="fw4 f4 f2-ns">British Physics Olympiad</span>
          </div>
        </h1>

        <div class="f5 mb4 measure center">
          {{ content }}
        </div>

        <div class="pt2 mb3">
          {% include 'partials/button.twig.html' with {
            url: '#_competition-dates',
            text: 'Competition Dates',
            icon: 'fa-calendar-alt'
          } %}

          {% include 'partials/button.twig.html' with {
            url: '/past-papers',
            text: 'Past Papers',
            icon: 'fa-file-alt'
          } %}

          {% include 'partials/button.twig.html' with {
            url: '/enter-online',
            text: 'Enter Online',
            icon: 'fa-trophy',
            inverse: true
          } %}
        </div>

      </div>
      <div class="absolute top-100 tc w-100 pt3">
        <a href="#{{ header.jump.target }}" class="animation-arrow dib">
          <svg viewBox="0 0 27 33" class="s-white h2 dib">
            <g transform="translate(13.500000, 16.500000) rotate(90.000000) translate(-13.500000, -16.500000) translate(-3.000000, 3.000000)">
              <path d="M32.135,13.817 L0.5,13.817 C0.224,13.817 0,13.593 0,13.317 C0,13.041 0.224,12.817 0.5,12.817 L32.135,12.817 C32.411,12.817 32.635,13.041 32.635,13.317 C32.635,13.593 32.411,13.817 32.135,13.817 Z"></path>
              <path d="M19.598,26.353 C19.47,26.353 19.342,26.304 19.244,26.207 C19.049,26.012 19.049,25.695 19.244,25.5 L31.428,13.316 L19.244,1.136 C19.049,0.941 19.049,0.624 19.244,0.429 C19.439,0.234 19.756,0.234 19.951,0.429 L32.488,12.962 C32.582,13.056 32.634,13.183 32.634,13.316 C32.634,13.449 32.581,13.576 32.488,13.67 L19.951,26.206 C19.854,26.304 19.726,26.353 19.598,26.353 Z"></path>
            </g>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
