<nav class="mt3 mw8 center">
  <ul class="list pl0 ma0 center f5 fw2">
    {% for p in pages %}
      <li class="dib mb2 mr3">
        {% if p.active %}
          <span class="bb b--light-blue light-blue fw2">
            {{ p.menu }}
          </span>
        {% else %}
          <a href="{{ p.url }}" class="no-underline-hover bb-hover white fw2">
            {{ p.menu }}
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
