.translate-y-0 {
  transform: translateY(0);
}

.translate-y--100 {
  transform: translateY(-100%);
}

.tr-translate {
  transition: transform 0.3s;
  will-change: transform;
}

.translate-y-center {
  transform: translateY(-50%);
}
