$min-width-1: 1rem !default;
$min-width-2: 2rem !default;
$min-width-3: 4rem !default;
$min-width-4: 8rem !default;
$min-width-5: 12rem !default;
$min-width-6: 32rem !default;
$min-width-7: 48rem !default;
$min-width-8: 64rem !default;
$min-width-9: 96rem !default;
$max-width-6: 32rem !default;
$max-width-7: 48rem !default;
$blue: #2E6FF3;
$dark-blue: #0E2B5D;
$dark-gray: #3C3546;
$gold: #f0e32c;
$lightest-blue: #F5F4F9;
$light-blue: #A5D8EF;
$mid-gray: #9897A5;
$navy: #1F2034;
$purple: #3D3446;
$washed-blue: #525260;
$near-white: #F0F3F9;
