// Converted Variables


// Custom Media Query Variables


/*
   WIDTHS
   Docs: http://tachyons.io/docs/layout/widths/
   Base:
     w = width
     Modifiers
       6 = 6th step in width scale
       7 = 7th step in width scale
     Media Query Extensions:
       -ns = not-small
       -m  = medium
       -l  = large
  */

/* Width Scale */

.w6 { width: $max-width-6; }
.w7 { width: $max-width-7; }

@media #{$breakpoint-not-small} {
  .w6-ns { width: $max-width-6; }
  .w7-ns { width: $max-width-7; }
}

@media #{$breakpoint-medium} {
  .w6-m { width: $max-width-6; }
  .w7-m { width: $max-width-7; }
}

@media #{$breakpoint-large} {
  .w6-l { width: $max-width-6; }
  .w7-l { width: $max-width-7; }
}
